@{
    ViewData["Title"] = "Diagnoses";
}

<div>
    <h3>Diagn</h3>
    <table>
        <tr>
            <td>id  </td>
            <td>title  </td>
            <td>deathRate  </td>
            <td></td>
        </tr>
        @foreach (var diag in Model)
        {
            <tr>
                <td>@diag.Id</td>
                <td>      </td>
                <td><a href="~/Home/ShowDetails/@diag.Id">Show details</a></td>
                <td><a href="~/Home/Edit/@diag.Id">Edit</a></td>
                <td><a href="~/Home/Delete/@diag.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>