@{
    ViewData["Title"] = "Diagnoses";
}

<div>
    <h3>Diagn</h3>
    <table>
        <tr>
            <td>id  </td>
            <td>title  </td>
            <td>deathRate  </td>
            <td></td>
        </tr>
        @foreach (var diag in Model)
        {
            <tr>
                <td>@diag.Id</td>
                <td>      </td>
                <td><a href="~/Diagnoses/ShowDetails/@diag.Id">Show details</a></td>
                <td><a href="~/Diagnoses/Edit/@diag.Id">Edit</a></td>
                <td><a href="~/Diagnoses/Delete/@diag.Id">Delete</a></td>
            </tr>
        }
        <tr>
            <td><a href="~/Diagnoses/Add/">Add new</a></td>
        </tr>
    </table>
</div>