@{
    ViewData["Title"] = "Doctors";
}

<div style="margin-bottom: 10%">
    <h3>Doctors</h3>
    <div class="container">
        @foreach (var doc in Model)
        {
            <div class="row">
                <div class="col-offset-1 col">
                    <input type="text" value="@doc.Name" disabled/>
                </div>
                <div class="col">
                    <a href="~/Doctors/ShowDetails/@doc.Id">Show details</a>
                </div>
                <div class="col">
                    <a href="~/Doctors/Edit/@doc.Id">Edit</a>
                </div>
                <div class="col">
                    <a href="~/Doctors/Delete/@doc.Id">Delete</a>
                </div>
            </div>
        }
        <div class="row mt-2">
            <div class="col-3">
                <button type="button" class="btn btn-primary">
                    <a href="~/Doctors/Add/" style="color: inherit">Add new</a>
                </button>
            </div>
        </div>
    </div>
</div>
<form method="get" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="container">
            <div class="row">
                <label class="col control-label">Search by word (part of word)</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="textToFind" class="form-control" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" class="input-group-text" id="basic-addon2" value="Find" />
                </div>
            </div>
        </div>
    </div>
</form>