@{
    ViewData["Title"] = "Doctors";
}

<div>
    <h3>Doc</h3>
    <table>
        <tr>
            <td>id  </td>
            <td>name  </td>
            <td>speciality  </td>
            <td>skill</td>
            <td></td>
        </tr>
        @foreach (var doc in Model)
        {
            <tr>
                <td>@doc.Id</td>
                <td>      </td>
                <td><a href="~/Doctors/ShowDetails/@doc.Id">Show details</a></td>
                <td><a href="~/Doctors/Edit/@doc.Id">Edit</a></td>
                <td><a href="~/Doctors/Delete/@doc.Id">Delete</a></td>
            </tr>
        }
        <tr>
            <td><a href="~/Doctors/Add/">Add new</a></td>
        </tr>
    </table>
</div>