@{
    ViewData["Title"] = "Doctors";
}

<div>
    <h3>Doc</h3>
    <table>
        <tr>
            <td>id  </td>
            <td>name  </td>
            <td>speciality  </td>
            <td>skill</td>
            <td></td>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>      </td>
            <td>@Model.Name</td>
            <td>@Model.Speciality</td>
            <td>@Model.Skill</td>
            <td><a href="~/Doctors">Go back</a></td>
        </tr>        
    </table>
</div>