@using Task_1.ViewModels
@using Task_1.Models
@model List<PatientVM>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    @foreach (PatientVM p in Model)
    {
        <tr><td>@p.Name</td><td>@p.Diagnosis</td></tr>
    }
</table>