@{
    ViewData["Title"] = "Add patient";
}
@using Hospital.ViewModels
@using Hospital.Models
@model AddPatientVM

<h2>Form of adding patient</h2>

<p>fill in the following fields:</p>
<form asp-controller="Patient" asp-action="Add" asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="DiagnosisId"></label>
            <select asp-for="DiagnosisId" asp-items="ViewBag.Diagnoses"></select>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Confirm" />
            <button type="button" class="btn btn-danger">
                <a asp-controller="Patient" asp-action="Index" style="color:inherit">Cancel</a>
            </button>
        </div>
    </div>
</form>