@{
    ViewData["Title"] = "Patient";
}

@using Hospital.ViewModels
@using Hospital.Models
@model List<PatientVM>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    <tr>
        <td>Name</td>
        <td>Diagnosis</td>
        <td>Lifetime</td>
        <td></td><td></td><td></td>
    </tr>
    @foreach (PatientVM p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Diagnosis</td>
            <td>@p.Lifetime.Days days</td>
            <td><a href="~/Patient/ShowDetails/@p.Id">Show details</a></td>
            <td><a href="~/Patient/Edit/@p.Id">Edit</a></td>
            <td><a href="~/Patient/Delete/@p.Id">Delete</a></td>
        </tr>
    }
</table>

<div class="container">
    <div class="row mt-2">
        <div class="col-3">
            <button type="button" class="btn btn-primary">
                <a href="~/Patient/Add/" style="color: inherit">Add new</a>
            </button>
        </div>
    </div>
</div>